# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HashCode.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Gurgen_Davtyan\Projects\HashCode\.idea\.idea.HashCode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
